body{
	background-color: black;
	color :white;
	font-family: "Museo", "Helvetica Neue", sans-serif;
	margin: 0;
}

#mainbody {
}

#StartPage{
	width: 100%;
}

.content {
	overflow: hidden;
	position: absolute;
	left: 50px;
	right: 50px;
}
.group {
	width: 250px;
	display: inline-block;
	background: #b4ddb4;
	float: left;
	margin: 10px;
}
.group h3{
	color: 	#003300;
	font-weight: bold;
}
.group a{
	text-shadow: rgba(0,0,0,0.6) 1px 1px 0;
	padding: 5px;
	margin: 5px;
	display: block;
	background-color: green;
	box-shadow:  2px 2px 2px rgba(0,0,0,0.2);
	color: #999;
	font-weight: bold
}
.group a:hover{
	color: green;
	background-color: #003300;
}

.slider {
	color: 	#003300;
	font-weight: bold;
	font-size: 3em;
	text-shadow: rgba(0,0,0,0.6) 1px 1px 0;
	text-align: center;
	width: 50px;
	border: 3px solid #333333;
	box-shadow:  2px 2px 2px rgba(255,255,255,0.2);
	background: #b4ddb4;
	position: absolute;
	z-index: 20;
	top: 100px;
	bottom: 100px;
}
#left-slider {
	left: 0;
}
#right-slider {
	right: 0;
}


input{
	display: inline;
}

header {
	width: 100%;
	background-color: rgb(30,87,153);
}
header h1{
	font-weight: bold;
	padding: 0;
	margin: 0;
}


footer {
	position: absolute;
	bottom: 0;
	background-color: grey;
	width: 100%;
}
footer p {
	padding: 0;
	margin: 0;
}
